<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>GreenLife-우울증 검사</title>

    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@250&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/depression/depression-test.css" />
    <link rel="stylesheet" href="/css/header.css"/>
</head>
<body>
<div th:replace="header.html :: header"></div>
<main>
    <section class="spot">
        <!--        시작화면-->
        <section class="start">
            <img src="../img/sad_icon.png">
            <h1>우울증 자가진단</h1>

            <p id="main_message1"><a th:text="${username}">정상수</a>님, 어서오세요.</p>
            <p id="main_message2">이 검사의 기준은 <b style="color: red">최근 2주 동안</b> 느꼈던
                <br> 감정에 대한 질문들 입니다.
                <br> 해당하는 문항에 대해 <b>○</b>를 선택해주세요.
            </p>

            <a href="#" class="start_button"><b>검사 시작</b></a>
            <p id="main_message3">총 15문항</p>
        </section>

        <!--            검사화면-->
        <form action=# method="get" class="inspection">
            <!-- 게이지 바 (진행도)-->
            <div id="progress-bar">
                <div id="progress"></div>
            </div>
            <!-- 질문 번호-->
            <div class="question_box">
                <h1></h1>
                <p></p>
            </div>
            <div class="choice_box">
                <!-- ox 선택-->
                <label><input type="radio" name="radio" id="radio_o" value="o">O</label>
                <label><input type="radio" name="radio" id="radio_x" value="x">X</label>
            </div>
        </form>

        <!--            결과화면-->
        <section class="result">
            <img src="../img/Check_ion.png">
            <h1>우울증 자가진단 결과</h1>

            <p><b id="score">0</b>점</p>
            <p class="by_score1">0 ~ 5점 : 정상적임</p>
            <p class="by_score2">6 ~ 10점 : 우울함</p>
            <p class="by_score3">11 ~ 15점 : 매우 우울함</p>

            <p id="result_message"></p>

            <a href="#" class="restart_button">다시 검사하기</a>
        </section>
    </section>
</main>

<footer>
    <p>
        <a href="#">이용약관</a>
        <a href="#">&nbsp; 개인정보처리방침</a>
    </p>
    <p>
        TEL. 010-xxxx-xxxx <br>
        e-mail : aa@aaa.com
    </p>
</footer>

<script th:inline="javascript">
    $(function() {
        let questionsContainer = $(".question_box > p"); // 질문
        let questionNum = $(".question_box > h1"); // 질문 번호
        let index = 0; // questions 인덱스
        let score = 0; // 우울증 점수
        let progress = 0; // 진행도 게이지 퍼센트
        // 질문들
        const questions = [[${questionFileList}]];

        // 결과 메세지
        const resultMessage = [[${resultFileList}]];

        // 검사 페이지 : 질문 번호, 질문 내용 넘어가기 함수
        function displayQuestion() {
            if (index < questions.length) {
                questionNum.text(index + 1);
                questionsContainer.text(questions[index]);
            } else {
                showTestResultPage();
            }
            // 질문 애니메이션으로 나타내기
            $(".question_box:not(:animated)").hide().fadeIn(800, "linear");
        }

        // 검사 페이지 : 점수 계산, 진행도 바
        function handleRadioClick() {
            $("input[type=radio]").on("click", function() {
                index += 1;
                // O를 체크하면 점수 추가
                if ($("#radio_o").is(":checked")) score += 1;

                // 진행도 바 증가
                if (progress < 150) {
                    progress += 7.2;
                    $("#progress").css({ width: progress + "%" });
                }
                displayQuestion(); // 질문 넘기기
            });
        }

        // 검사 페이지 : 검사 시작 버튼, 검사 페이지로 넘어가는 함수
        function startInspection() {
            $(".start_button").click(function() {
                $(".start").css({ display: "none" });
                $(".inspection").css({ display: "block" });
                displayQuestion(); // 질문 넘기기
            });
        }

        // 결과 페이지 : 검사 종료 후, 결과 페이지로 넘어가는 함수
        function showTestResultPage() {
            $("#score").text(score); // 점수 텍스트

            // 점수 보이기, 해당 점수에 굵게
            if (score <= 5) {
                $("#result_message").text(resultMessage[0]);
                $(".by_score1").css({ "font-weight": "800" });
            } else if (score <= 10) {
                $("#result_message").text(resultMessage[1]);
                $(".by_score2").css({ "font-weight": "800" });
            } else {
                $("#result_message").text(resultMessage[2]);
                $(".by_score3").css({ "font-weight": "800" });
            }

            // 화면 나타내기
            $(".inspection").css({ display: "none" });
            $(".result").css({ display: "block" }).hide().fadeIn(2100, "swing");
        }

        // 다시 검사 버튼, 메인 페이지로 넘어가는 함수
        function goBackToMainPage() {
            $(".restart_button").click(function() {
                $(".result").css({ display: "none" });
                $(".start").css({ display: "block" });
                initialize();
            });
        }

        // 초기화 함수
        function initialize() {
            index = 0;
            score = 0;
            progress = 0;
            $("#progress").css({ width: 0 + "%" }); // 게이지바 초기화

            for (let i = 1; i <= 3; i++) {
                // 결과 증상 텍스트 굵기
                $(".by_score" + i).css({ "font-weight": "normal" });
            }
        }

        // Main
        handleRadioClick(); // 검사 페이지
        startInspection(); // 결과 페이지
        goBackToMainPage(); // 다시 검사

        function sendTestResultHandler() {
            let resultMSG = $("#result_message").text();
            $.ajax({
                type: "post",
                url: "/survey/depression",
                data: {
                    score: score,
                    interpretation : resultMSG
                },
                success: function(res) {
                    console.log("요청 성공", res);
                },
                error: function(res) {
                    console.log("요청 실패", res);
                }
            });
        }

        //결과값 15번째에서 클릭을 누르면 처리하는 페이지~!
        $("#radio_o, #radio_x").on("click", function() {
            if (index === 15) {
                sendTestResultHandler();
            }
        });
    });

</script>
</body>
</html>