<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/board/aside.css"/>
</head>
<body>

  <div th:fragment="aside">
    <ul>
      <p class="sideBarTitle">게시판 이동</p>
      <li><a href="#">공지사항</a></li>
      <li><a href="#">게시판</a></li>
      <li><a href="#">내 글 보기</a></li>
    </ul>
  </div>

</body>
</html>