<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
    <link rel="stylesheet" href="/css/members/login.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
<section class="login-form">

    <h1>LOGIN</h1>
    <form action="/login" method="post">
        <div class="int-area">
            <input type="text" name="username" id="id" autocomplete="off" required>
            <label for="id">USER NAME</label>
        </div>
        <div class="int-area">
            <input type="password" name="password" id="pw" autocomplete="off" required>
            <label for="pw">PASSWORD</label>
        </div>
        <div class="btn-area">
            <button id="btn" type="submit">LOGIN</button>
        </div>

        <div class="social-buttons">
            <div class="social-button" onclick="redirectToGoogleLogin()">
                <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" alt="Google Logo">
            </div>
            <div class="social-button" onclick="redirectToNaverLogin()">
                <img src="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https:%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F9994003B5AF5048F1A" alt="Naver Logo">
            </div>
            <div class="social-button" onclick="redirectToFacebookLogin()">
                <img src="https://th.bing.com/th/id/R.5af57b176db35d587463d713cd2d0c2e?rik=gZNZuFvwmoTXiQ&riu=http%3a%2f%2fwww.qlsgroupweb.net%2fuk%2fm%2fa%2fwho_we_are%2fimg%2fsocial%2ffacebook.jpg&ehk=Rd%2fO8LFsqYrM%2fs7NzhCRG45S1vNTfXjZEcJDwBh7zPo%3d&risl=&pid=ImgRaw&r=0" alt="Facebook Logo">
            </div>
        </div>
        <div class="caption">
            <a href="/members/join">회원가입 하러가기</a>
        </div>
    </form>
</section>

    <script>
        $(document).ready(function () {
            let id = $('#id');
            let pw = $('#pw');
            let btn = $('#btn');

            $(btn).on('click', function () {
                if ($(id).val() === "") {
                    $(id).next('label').addClass('warning');
                    setTimeout(function () {
                        $('label').removeClass('warning');
                    }, 1500);
                } else if ($(pw).val() === "") {
                    $(pw).next('label').addClass('warning');
                    setTimeout(function () {
                        $('label').removeClass('warning');
                    }, 1500);
                }
            });
        });
        function redirectToGoogleLogin(){
            location.href="/oauth2/authorization/google";
        }
        function redirectToNaverLogin(){
            location.href="/oauth2/authorization/naver";
            //네이버
        }
        function redirectToFacebookLogin(){
            location.href="/oauth2/authorization/facebook";
        }

    </script>
    <script th:inline="javascript">
        $(function (){
            let exceptionMessage = [[${exception}]]
            if (exceptionMessage != null ){
                alert(exceptionMessage);
            }
        });
    </script>
</body>
</html>
