
footer {
    width: 100%; height: 10vh;
    background-color: #363f33;
    bottom: 0;
    font-size: .7rem;
    position: absolute;
    box-shadow: 0 0 5px black;
}
footer p, footer p > a {
    color: #959d96;
}

footer p:first-child {
    padding: .55rem;
    float: right;
}

footer p:last-child {
    position: absolute;
    bottom: .55rem; left: .55rem;
}