
footer {
    width: 100%; height: 10vh;
    position: relative;
    background-color: #d4d4d4;
    bottom: 0;
    font-size: .7rem;
}

footer p:first-child {
    padding: .55rem;
    float: right;
}

footer p:last-child {
    position: absolute;
    bottom: .55rem; left: .55rem;
}