<header>
  <div class="logo-container">
    <img src="/img/new_logo.jpg" height="120px">
    <a href="#"></a>
  </div>

  <nav class="nav">
    <ul id="gnb">
      <li><a href="#" class="font_size">BOARD</a>
        <ol class="boardSubmenu">
          <li><a href="#" class="font_size">BOARD</a></li>
          <li><a href="#" class="font_size">WRITING</a></li>
          <li><a href="#" class="font_size">ELSE</a></li>
        </ol>
      </li>
      <li><a href="#" class="font_size">TEST</a>
        <ol class="testSubmenu">
          <li><a href="#" class="font_size">TEST</a></li>
          <li><a href="#" class="font_size">RESULT</a></li>
          <li><a href="#" class="font_size">ELSE</a></li>
        </ol>
      </li>
      <li><a href="#" class="font_size">TALK</a></li>
      <li><a href="#" class="font_size">SHOP</a></li>
      <button class="btnLogin-popup">LOGIN</button>
    </ul>
  </nav>
</header>